<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&region=IN"></script>
	<script type="text/javascript">
		var coord_data = JSON.parse('{{coord_data | escapejs}}');
		var lost_stats = JSON.parse('{{lost_stats | escapejs}}');

		function initialize() {
			var centerlatlng = new google.maps.LatLng(28.636700, 77.102100);
			var myOptions = {
				zoom: 10,
				center: centerlatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);



		var heatmap_points = [];

		// gurugram points
		for(lost_stat in lost_stats) {
			for(var i=0;i<parseInt(lost_stats[lost_stat]);i++)
			{
				a = new google.maps.LatLng(parseFloat(coord_data[lost_stat]['latitude']), parseFloat(coord_data[lost_stat]['longitude']))
				// console.log(parseFloat(data[x]['latitude']))
				heatmap_points.push(a)
			}
		}


		var pointArray = new google.maps.MVCArray(heatmap_points);
		var heatmap;
		heatmap = new google.maps.visualization.HeatmapLayer({

		data: pointArray
		});
		heatmap.setMap(map);
		heatmap.set('threshold', 10);
		heatmap.set('radius', 50);
		heatmap.set('opacity', 0.600000);
		heatmap.set('dissipating', true);
			}
	</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
