{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Guardian</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="{% static 'javascript/upload_lost_person_image_form.js' %}"></script>
</head>
<body>
	<center>
			<div class="jumbotron" style="background-image: url('{% static 'img/TRAFFICKING+BOOK+COVER.jpg' %}'); background-repeat: no-repeat; background-size: 1515px 300px">
				<center>
					<h1 style="color: white; font-family: 'Roboto', sans-serif;">KHOJ</h1>      
					<p style="color: white; ">A platform to prevent child trafficking.</p>
				</center>
			</div>
		<div style="margin-top:40px; border-style: bold" class="container">

			<form id="guardian_form" action="upload_found_person_image_form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
			  <div class="form-group">
			    <label for="guardian_name">Upload image of the found person</label>
			    <div style="margin-left: 50px;">
				    <input type="file" class="" id="loster_image" placeholder="Enter Name" multiple name="images">
				</div>
			  </div>

		    <!-- <label for="name" style="margin-left: 40px;">Aadhar Card Num</label> -->
		    <div style="margin-left: 50px;display: none;">
			    <input type="text" class="" id="lost_person_name" placeholder="Enter Aadhar Card Num." name="addhar_card_number" value = "xyz">
			</div>
			<br>
			<label>Enter Location of Current Find</label>
			<br>
				<select id="appearence_place" name="appearence_place">
					<option>Ambedkar Nagar</option>
					<option>Fetehpur Beri</option>
					<option>INA Metro</option>
					<option>Malviya Nagar</option>
					<option>Mehrauli</option>
					<option>Neb Sarai</option>
					<option>Qutab Minar Metro</option>
					<option>Safdarjung Enclave</option>
					<option>Sangam Vihar</option>
					<option>Amar Colony</option>
					<option>Badar Pur</option>
					<option>Chitranjan Park</option>
					<option>Defence Colony</option>
					<option>Govind Puri</option>
					<option>Greater Kailash</option>
					<option>Jaitpur</option>
					<option>Jamia Nagar</option>
					<option>Kalkaji Metro</option>
					<option>Kalkaji</option>
					<option>Kotla Mubarak Pur</option>
					<option>Lajpat Nagar Metro</option>
					<option>Lajpat Nagar</option>
					<option>Lodhi Colony</option>
					<option>New Friends Colony</option>
					<option>Okhla Industrial Area</option>
					<option>Pul Prahlad Pur</option>
					<option>Sarita Vihar</option>
					<option>Sunlight Colony</option>
					<option>Bara Hindu Rao</option>
					<option>Burari</option>
					<option>Chandni Mahal</option>
					<option>Civil Lines</option>
					<option>Companies Act</option>
					<option>Darya Ganj</option>
					<option>DBG Road</option>
					<option>Delhi Cantt</option>
					<option>Gulabi Bagh</option>
					<option>Hauz Qazi</option>
					<option>Hazrat Nizamuddin Railway</option>
					<option>I.P. Estate</option>
					<option>Income Tax Act</option>
					<option>Jama Masjid</option>
					<option>Kamla Market</option>
					<option>Karol Bagh</option>
					<option>Kashmere Gate Metro</option>
					<option>Kashmere Gate</option>
					<option>Kotwali</option>
					<option>Lahori Gate</option>
					<option>Maurice Nagar</option>
					<option>Nabi Karim</option>
					<option>New Delhi Railway Station (NDLS)</option>
					<option>Old Delhi Railway Station (Railway Main Delhi)</option>
					<option>Pahar Ganj</option>
					<option>Prasad Nagar</option>
					<option>Railway Protection Force (RPF)</option>
					<option>Rajinder Nagar</option>
					<option>Roop Nagar</option>
					<option>Sadar Bazar</option>
					<option>Sarai Rohilla</option>
					<option>Sarai Rohilla Railway</option>
					<option>Seed Act</option>
					<option>Subzi Mandi</option>
					<option>Subzi Mandi Railway</option>
					<option>Timarpur</option>
					<option>Anand Parbat</option>
					<option>Hari Nagar</option>
					<option>Janak Puri Metro</option>
					<option>Khyala</option>
					<option>Kirti Nagar</option>
					<option>Maya Puri</option>
					<option>Mianwali Nagar</option>
					<option>Moti Nagar</option>
					<option>Mundka</option>
					<option>Nangloi</option>
					<option>Nihal Vihar</option>
					<option>Paschim Vihar</option>
					<option>Patel Nagar</option>
					<option>Punjabi Bagh</option>
					<option>Raja Garden Metro</option>
					<option>Ranhola</option>
					<option>Ranjeet Nagar</option>
					<option>Tilak Nagar</option>
					<option>Barakhamba Road</option>
					<option>Central Secretariat Metro</option>
					<option>Chanakya Puri</option>
					<option>Connaught Place</option>
					<option>Customs</option>
					<option>Delhi Cantt</option>
					<option>Directorate of Revenue Intelligence</option>
					<option>FERA</option>
					<option>IGI Airport</option>
					<option>IGI Metro</option>
					<option>Inder Puri</option>
					<option>Mandi House Metro</option>
					<option>Mandir Marg</option>
					<option>Naraina</option>
					<option>North Avenue</option>
					<option>Parliament Street</option>
					<option>Prevention of Food Adulteration Act</option>
					<option>R.K. Puram</option>
					<option>Sagar Pur</option>
					<option>Sarojini Nagar</option>
					<option>South Avenue</option>
					<option>South Campus</option>
					<option>Special Cell</option>
					<option>Tilak Marg</option>
					<option>Tuglak Road</option>
					<option>Vasant Kunj North</option>
					<option>Vasant Kunj South</option>
					<option>Vasant Vihar</option>
					<option>Gandhi Nagar</option>
					<option>Gazi Pur</option>
					<option>Geeta Colony</option>
					<option>Kalyan Puri</option>
					<option>Krishna Nagar</option>
					<option>Mandawali</option>
					<option>Mayur Vihar</option>
					<option>New Ashok Nagar</option>
					<option>Pandav Nagar</option>
					<option>Preet Vihar</option>
					<option>Shakar Pur</option>
					<option>Yamuna Bank Metro</option>
					<option>Bhajan Pura</option>
					<option>Gokul Puri</option>
					<option>Karawal Nagar</option>
					<option>Khajoori Khas</option>
					<option>New Usman Pur</option>
					<option>Seelampur</option>
					<option>Shastri Park Metro</option>
					<option>Sonia Vihar</option>
					<option>Anand Vihar</option>
					<option>Anand Vihar Railway</option>
					<option>Farash Bazar</option>
					<option>GTB Enclave</option>
					<option>Harsh Vihar</option>
					<option>Jagat Puri</option>
					<option>Jyoti Nagar</option>
					<option>Madhu Vihar</option>
					<option>Mansarover Park</option>
					<option>Nand Nagri</option>
					<option>Seema Puri</option>
					<option>Shahdara</option>
					<option>Vivek Vihar</option>
					<option>Welcome</option>
					<option>Zafrabad</option>
					<option>Aman Vihar</option>
					<option>Ashok Vihar</option>
					<option>Begum Pur</option>
					<option>Bharat Nagar</option>
					<option>Kanjhawala</option>
					<option>Keshav Puram</option>
					<option>Mangol Puri</option>
					<option>Maurya Enclave</option>
					<option>Rani Bagh</option>
					<option>Rithala Metro</option>
					<option>Rohini North</option>
					<option>Rohini South</option>
					<option>Shalimar Bagh</option>
					<option>Subhash Palace</option>
					<option>Sultan Puri</option>
					<option>Udyog Nagar Metro</option>
					<option>Vijay Vihar</option>
					<option>Adarsh Nagar</option>
					<option>Ali Pur</option>
					<option>Bawana</option>
					<option>Bhalswa Dairy</option>
					<option>Jahangir Puri</option>
					<option>K.N Katju Marg</option>
					<option>Mahendra Park</option>
					<option>Model Town</option>
					<option>Mukherjee Nagar</option>
					<option>Narela Industrial Area</option>
					<option>Prashant Vihar</option>
					<option>Samai Pur Badli</option>
					<option>Shahabad Dairy</option>
					<option>Swaroop Nagar</option>
					<option>Baba Haridas Nagar</option>
					<option>Binda Pur</option>
					<option>Chhawla</option>
					<option>Dabri</option>
					<option>Delhi Cantonment Board</option>
					<option>Dwarka North</option>
					<option>Dwarka Sector-23</option>
					<option>Dwarka South</option>
					<option>Jaffarpur Kalan</option>
					<option>Janak Puri</option>
					<option>Kapashera</option>
					<option>Najafgarh</option>
					<option>Palam Village</option>
					<option>Uttam Nagar</option>
					<option>Vikas Puri</option>
				</select>
			 <br>
			 <br>
			  <button type="submit" class="btn btn-primary" id="search_button">Upload</button>
			</form>
		</center>
	</div>
</body>
</html>
